.footer1{
    background-color: #332C2F;
    min-height: 45vh;
    color: white;
    font-size: 25px;
    padding: 7vh 3vh;
}
.footer1 .ic{
    font-size: 25px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.footer1 .social{
    padding-bottom: 10px;
    border-bottom: 1px solid #DC3545;
    padding-left: 30px;
    padding-right: 10px;
}
.footer1 .img{
    height: 80%;
    position: relative;
}
.footer1 ul{
    font-size: 20px;
    list-style: none;
    margin-top: 25px;
}
.footer1 .con{
    padding-bottom: 10px;
    border-bottom: 1px solid #DC3545;
}
.footer1 i.icon{
    font-size: 16px !important;
    color: #D81A21;
}
.footer1 .img .cover{
    height: 100%;
    width: 100%;
    background-color: #332c2fb0;
    position: absolute;
    transition: 0.3s;
}
.footer1 .img .cover:hover{
    background-color: transparent;
}
.footer1 .contact .con{
    padding-left: 220px;
    padding-right: 10px;
}
.footer2{
    padding: 10px 30px;
    background-color: #332C2F;
    color: white;
    font-size: 18px;
}
.footerMap iframe{
    width: 100%;
    height: 100%;
}
.footerMap{
    height: 65vh;
    border: none;
}
.footerMap iframe{
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 1200px){
    .footer1{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 18px;
    }
    .footer1 .img{
        width: 50%;
        margin: 100px calc(50vw - 25%);
    }
    .footer2 p{
        text-align: center;
    }
}
@media screen and (min-width: 1200px){
    .footer1{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 18px;
    }
    .footer1 .img{
        width: 30%;
        margin: 0 70px;
    }
    .footer2{
        display: flex;
        justify-content: space-between;
    }
}